## editors
/.idea
/.vscode

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log
*.tgz

## testing
/coverage/

## temp folders
/.tmp/

# build
.env
/_site/
/dist/
/out-tsc/
build
/samples/html/js

storybook-static
custom-elements.json
.history/
