## editors
/.idea
/.vscode

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log
*.tgz

## testing
/coverage/

## temp folders
/.tmp/

# build
.env
.env.*
/_site/
/dist/
/out-tsc/
build
/samples/html/js

.history/

# Samples
/samples/*/node_modules
/samples/*/yarn.lock

# Storybook
*storybook.log
storybook-static

# Custom Elements Manifest
custom-elements.json
