html {
  background: #e2e2e2;
  color-scheme: light;

  --primary-color: #3f729b;
  --primary-color-light-1: #c2e0ff;
  --primary-color-light-0: #ecf5fc;
  --gray-0: #666;
  --gray-1: #919191;
  --gray-2: #b8b8b8;
  --black: #0a0a0a;

  --text-color: #0a0a0a;
  --text-color-inverse: #fefefe;

  --surface-0: #e2e2e2;
  --surface-1: #fefefe;
  --surface-2: #f5f5f5;

  --border-color: #cecece;

  --shadow-0: 0 2px 4px rgb(0 0 0 / 25%);
  --shadow-1: 0 4px 4px rgb(0 0 0 / 25%);

  --alert-color: hsl(8 58% 50%);
  --caution-color: #f2c962;
  --success-color: #4caf50;
  --inactive-color: #808080;
  --disabled-color: #e6e6e6;

  --color-alert: var(--alert-color);
  --color-on-alert: var(--text-color-inverse);
  --color-alert-container: hsl(8 58% 90% / 1);
  --color-on-alert-container: var(--alert-color);

  --font-family: Helvetica, Arial, sans-serif;

  /* Default form variables */
  --dt-form-border-color: var(--border-color);
  --dt-form-border-color-alert: var(--alert-color);
  --dt-form-border-width: 1px;
  --dt-form-border-radius: 0;
  --dt-form-background-color: var(--surface-1);
  --dt-form-disabled-background-color: var(--disabled-color);
  --dt-form-text-color: var(--text-color);
  --dt-form-text-color-inverse: var(--text-color-inverse);
  --dt-form-text-border-color: var(--border-color);

  /* Specific (inherited) styles */
  /* todo: move these to the appropriate components */

  --dt-alert-text-color-light: #fff;
  --dt-alert-text-color-dark: #000;
  --dt-alert-font-family: var(--font-family);
  --dt-alert-font-size: 14px;
  --dt-alert-font-weight: 700;
  --dt-alert-background-color: var(--surface-1);
  --dt-alert-shadow: var(--shadow-0);
  --dt-alert-border-color: var(--surface-0);
  --dt-alert-text-color: var(--text-color);

  --dt-button-inactive-color: #eee;
  --dt-button-text-color-light: var(--text-color-inverse);
  --dt-button-text-color-dark: var(--text-color);
}
